.header {
  width: 14.125rem;
  height: 100vh;
  background-color: #212121;
  border-radius: 0px 30px 30px 0px;
}

.logo {
  text-transform: uppercase;
  color: #3dd2cc;
  margin: 0;
  padding-left: 3.375rem;
  padding-bottom: 5.065rem;

}

