.header {
  width: 14.125rem;
  height: 100vh;
  background-color: #212121;
  border-radius: 0px 45px 45px 0px;
  position:sticky;
  top:0;
}

.logo {
  color: #76dcfb;
  margin: 0;
  padding-top: 3.5rem;
  padding-bottom: 5.065rem;
  text-shadow: 1px 2px 3px rgb(17, 3, 53), 0 0 50px rgb(25, 201, 201), 0 0 45px rgb(0, 40, 99);
  letter-spacing: 0.15rem;
  text-align: center;
  user-select: none;
  text-transform: uppercase;
  font-weight: 500;
  transform: scale(1, 1.45);
}

