.navLink {
  display: flex;
  color: #666666;
  font-size: 1.25rem;
  text-decoration: none;
  width: 14.125rem;
  height: 5.375rem;
  align-items: center;
}

.navLink.active{
  color: #3DD2CC;
  background-color: rgba(61, 210, 204, 0.4)
}

.nav_icon {
  font-size: 1.563rem;
  margin-right: 0.938rem;
  margin-left: 2.625rem;
}
