main{
    padding: 3rem 0 0 2rem;
}

.heroImg{
    // width: 48.813rem;
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

.movieImg{
    // width: 10.5rem;
    width:100%;
    height: 15.55rem;
    border-radius: 30px;
    user-select: none;
}

.trendingMovies, p{
    color: #E8E8EB;
}


.movieGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2.25rem;
    width: 100%;
}

.movieContainer{
    position: relative;
}

.movieRating{
    display: flex;
    user-select: none;
    width: 4.25rem;
    height: 1.75rem;
    background: rgba(232, 232, 232, 0.15);
    backdrop-filter: blur(0.156rem);
    border-radius: 0rem 1.25rem;
    position: absolute;
    right: 0;
    align-items: center;
    justify-content: center;
}
.star{
    font-size: 1.25rem;
    color: #e6b818
}
.rating{
    font-weight: 500;
    color: #E8E8EB;
}
