.notification_btn{
    width:4.3rem;
    height:4.3rem;
    border-radius: 40px;
    background-color:#212121;
    .notification_icon{
        color:#666666;
        font-size: 32px;
        text-align: center;
        padding-top:1rem;
    }
}